#root {
  /* max-width: 1280px; */
  /* margin: 0; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.grid-left-wrap {
  padding: 30px 10px;
  /* border: 2px solid black; */
  /* background-color: rgb(215, 220, 224); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.grid-right-wrap {
  /* border: 2px solid black; */
  background-color: antiquewhite;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
